@import url("reset.css");

:root {
  font-size: 93.75%;
  line-height: 1.5;
}

@media (min-width: 36rem) {
  :root {
    font-size: 100%;
  }
}

@media (min-width: 40rem) {
  :root {
    font-size: 106.25%;
  }
}

@media (min-width: 44rem) {
  :root {
    font-size: 112.5%;
  }
}

html {
  font-family: systemui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

body {
  padding: 1rem 0;
}

h1 {
  font-size: 2rem;
}

.wrapper {
  margin: 0 auto;
  max-width: 64rem;
  padding: 0 1rem;
}

.almost-full-bleed {
  width: 96vw;
  margin-left: calc(50% - 48vw);
}

.twitter-tweet:not(.twitter-tweet-rendered) {
  padding: 1rem;
  border: 1px solid #ccd6dd;
  border-radius: 1em;
}

.twitter-tweet-rendered {
  margin-bottom: 1em !important;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em !important;
}

.load-svg {
  width: 100%;
  height: auto;
}
